<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProPlan2250QC.ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ProPlan2250QC.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DbModel" connectionString="data source=&quot;database\proplan2250qc.db&quot;" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
  <userSettings>
    <ProPlan2250QC.ayarlar>
      <setting name="level100max" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="rpm100max" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="rpm100min" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="rpm50max" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="rpm50min" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="level50max" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="watt100max" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="watt100min" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="watt50max" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="watt50min" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="comPort" serializeAs="String">
        <value>COM3</value>
      </setting>
    </ProPlan2250QC.ayarlar>
    <ProPlan2250QC.Settings>
      <setting name="level100max" serializeAs="String">
        <value/>
      </setting>
      <setting name="rpm100max" serializeAs="String">
        <value/>
      </setting>
      <setting name="rpm100min" serializeAs="String">
        <value/>
      </setting>
      <setting name="rpm50max" serializeAs="String">
        <value/>
      </setting>
      <setting name="rpm50min" serializeAs="String">
        <value/>
      </setting>
      <setting name="level50max" serializeAs="String">
        <value/>
      </setting>
      <setting name="watt100max" serializeAs="String">
        <value/>
      </setting>
      <setting name="watt100min" serializeAs="String">
        <value/>
      </setting>
      <setting name="watt50max" serializeAs="String">
        <value/>
      </setting>
      <setting name="wat50min" serializeAs="String">
        <value/>
      </setting>
    </ProPlan2250QC.Settings>
  </userSettings>
</configuration>
